footer p, footer .copyright-logo {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
}
/*About Page*/
.mycontainer{
    display: flex;
    background-color: #f5f4f4;
    flex-direction: column;
    align-items: flex-start;
    
}
.myoptions{
    display: flex;
    flex-direction: row;
}
.myoptions li{
    font-size: medium;
    font-family: Arial,Helvetica,sans-serif;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f4f4;
}
.about h2{
    margin-bottom: 0px;
    font-family: 'Roboto', serif; 
    font-size: 35px;
    font-weight: 400;
    
}
.about h3{
    font-family: 'Roboto', serif; 
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 25px;
}
.about p{
    margin-top: 0;
    padding: 0 150px 0 150px;
    text-align: center;
    line-height: 1.5;
}
.about .second-paragraph{
    margin-top: 0;
    padding: 0 150px 100px 150px;
    text-align: center;
    line-height: 1.5;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team h1{
    text-align: center;
    font-weight: 450;
    font-size: 45px;
}
.team .underscore{
    margin-top: -45px;
    font-weight:bolder;
}
.team p{
    text-align: center;
    font-weight: 450;
    font-size: 20px;
}
.teammates{
    display: flex;
    margin-left:50px;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.profile-card{
    margin-left:100px;
    border-radius: 20px;
    background-color: #858383cc;
    transition: box-shadow 0.3s, transform 0.3s; 
}
.profile-card p{
    margin-left: 10px;
    color: #36454F;
    font-family: serif;
    padding-right: 15px;
    text-align: left;
}
.profile-card h5,.profile-card a h4{
    color: #36454F;
    font-family: serif;
    text-align: left;
    font-weight: 450px;
    margin-left: 10px;
}

.profile-card img{
    margin-left:15px;
    padding-bottom: 100px;
    border-radius: 10px;
    height:10cm;
    width:9cm ;
}
.profile-card2{
    margin-top: 25px;
    margin-bottom: 30px;
}

.myoptions li {
    font-family: 'Arial', sans-serif;
    font-size: 18px; 
}

.about p, .about .second-paragraph, .team h1, .team p {
    font-family: 'Open Sans', sans-serif; 
}

.about, footer {
    background-color: #f5f5f5; 
}

.profile-card {
    background-color: #ecf0f1; 
}

.profile-card p, .profile-card h5, .profile-card h4, footer .logo-name, footer p, footer .copyright-logo {
    color: #34495e; 
}
.profile-card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
}
/* Style for social media icons */
.social-icons {
    display: flex;
    justify-content:flex-start;
    margin-top: -80px;
    margin-bottom: 20px;
    margin-left:15px;
}

.social-icons a {
    font-size: 30px;
    padding-left: 20px;
    color: black; 
    text-decoration: none;
    transition: color 0.3s;
}
.social-icons a:first-child{
    padding-left:0px;
}

.social-icons a:hover {
    color:black; 
}
.social-icons a {   
    font-size: 24px; 
    transition: transform 0.3s ease; 
}

.social-icons a:hover {
    transform: scale(1.2); 
}